# Problem 1 
N/A

# Problem 2
xi = time to load Canvas in milliseconds
λ*e^-λ*x
Derive the maximum likelihood estimate for λ from first principles

In [ ]:
# Problem 3

In [4]:
# Problem 4
import pandas as pd
import matplotlib.pyplot as plt
import numpy as py
import seaborn as sns
%matplotlib inline

student_data = pd.read_csv("studentdata.csv", sep=' ', quoting = 3)

print(student_data.shape)
student_data = student_data.dropna()
student_data.head()

py.histogram(student_data())

# sns.distplot(student_data,bins=20)

(657, 11)

,"""Student","""""Height""""","""""Gender""""","""""Shoes""""","""""Number""""","""""Dvds""""","""""ToSleep""""","""""WakeUp""""","""""Haircut""""","""""Job""""","""""Drink"""""""
"""1",1,67,"""""female""""",10,5,10,-2.5,5.5,60,30.0,"""""water"""""""
"""2",2,64,"""""female""""",20,7,5,1.5,8.0,0,20.0,"""""pop"""""""
"""3",3,61,"""""female""""",12,2,6,-1.5,7.5,48,0.0,"""""milk"""""""
"""4",4,61,"""""female""""",3,6,40,2.0,8.5,10,0.0,"""""water"""""""
"""5",5,70,"""""male""""",4,5,6,0.0,9.0,15,17.5,"""""pop"""""""